body 
{
    background: url("../resources/background-image.jpg") no-repeat center center fixed;
    background-size: cover;
}
.main 
{
    margin-top: 10vh;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    width: 70vw;
    min-height: 50vh;
    padding: 5em;
    overflow: hidden;
}
.btn-go-back {
    width: 50vw;
    margin-top: 1em;
    border-radius: 15px;
    padding: 0.5em;
    background-color: #343434;
    color: #FFF;
    font-size: 1em;
}
.btn-go-back:hover {
    width: 60vw;
    border-radius: 15px;
    padding: 0.5em;
    background-color: #646464;
    color: #FFF;
    font-size: 1em;
}