body 
{
    background: url("../resources/background-image1.jpg") no-repeat center center fixed;
    background-size: cover;
}
.main 
{
    margin-top: 10vh;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    width: 70vw;
    min-height: 50vh;
    padding: 5em;
    overflow: hidden;
}