form
{
    background-color:antiquewhite;
}
input
{
    margin: 2vmin;
}
.full-width
{
    display: block;
}
nav 
{
    
}
ul 
{
    list-style: none;
    display: block;
    text-align: center;
    margin: auto;
}
il
{
    list-style: none;
    display: inline-block;
    text-align: center;
}